@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/Content/stylematerial.css" type="text/css" />
    <title>FileManager</title>
</head>
<body>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/jsmaterial.js"></script>
    @*<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.js"></script>*@
    <script type="text/javascript" src="/Scripts/autoresize.jquery.min.js"></script>
    <script type="text/javascript">
        var string = [];
        var stringback = [];
        var count = 0;
        var wf = new Array();
        var df = new Array();
        var head;
        var headful;
        var k = 0;
        var c = 0;
    </script>
    <script type="text/javascript">
        function enable() {
            c = 0;
            for (i = 1; obj[i - 1]; i++) {
                var checkbox = document.getElementById(i - 1);
                if (checkbox.checked)
                    c++;
            }
            if (c > 0) {
                document.getElementById('Cpy').className = "waves-effect waves-light btn";
                document.getElementById('Cut').className = "waves-effect waves-light btn";
                document.getElementById('Del').className = "waves-effect waves-light btn";
            }
            else {
                document.getElementById('Cpy').className = "btn disabled";
                document.getElementById('Cut').className = "btn disabled";
                document.getElementById('Del').className = "btn disabled";
            }
        }
    </script>

    <header>
        <div id="slide-out" class="side-nav fixed yellow lighten-4">
            <div class="section yellow darken-2"><h5>qwe corp.</h5></div>
            <div class="section grey"><h4>File Manager</h4></div>
            <div style="position: fixed; bottom:0%; width:inherit">
                <a href="/Home/Index" class="waves-effect waves-light btn input-field">General</a>
                <a href="/Home/Settings" class="waves-effect waves-light btn input-field">Settings</a>
                <a href="/Home/Cron" class="waves-effect waves-light btn input-field">Cron</a>
                <a href="/Files/Index" class="waves-effect waves-light btn input-field yellow darken-2">File Manager</a>
            </div>
        </div>
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large mdi-navigation-menu"><img class="btn-floating" src="../icons/menu.png" /></a>
        <script type="text/javascript">
            // Initialize collapse button
            $(".button-collapse").sideNav();
            // Initialize collapsible (uncomment the line below if you use the dropdown variation)
            $('.collapsible').collapsible();
        </script>
    </header>
    <main>
        <div id="modal1" class="modal" style="width:270px; height:295px;">
            <div class="modal-content" style="background-color: #FFEB3B;">
                <p>
                    <input name="group1" type="radio" id="test1" value="1" />
                    <label style="color:black" for="test1">File</label>
                </p>
                <p>
                    <input name="group1" type="radio" id="test2" value="2" />
                    <label style="color:black" for="test2">Folder</label>
                </p>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="fname" type="text" class="validate">
                        <label for="fname">Name</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class=" modal-action modal-close waves-effect waves-green btn-flat" onclick="newff()">OK</a>
                <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l10" style="float:right">
                <div>
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1" onclick="newfilefolder()" style="margin-left:0.5rem">New...</a>
                    <script type="text/javascript">
                        function newfilefolder() {
                            $("#modal1").openModal();
                        }
                    </script>

                    <div id="Cpy" class="btn disabled" onclick="BCpyClick()">Copy</div>
                    <div id="Cut" class="btn disabled" onclick="BCutClick()">Cut</div>
                    <div id="pst" class="waves-effect waves-light btn" onclick="BPstClick()">Paste</div>
                    <script type="text/javascript">
                        if (!wf[0])
                            document.getElementById('pst').className = document.getElementById('pst').className + " disabled";
                    </script>
                    <div id="Del" class="btn disabled" onclick="BDelClick()">Delete</div>
                    <div class="waves-effect waves-light btn" onclick="BClsClick()" style="margin-right:0.5rem; float:right">Close</div>
                </div>
                <div style="margin-top: 1rem; border: 1px solid #B6B6B6">
                    <a class="btn-floating btn waves-effect waves-light red" style="margin-left:0.5rem" onclick="changedir()">/</a>
                    <a class="btn-floating btn waves-effect waves-light red" onclick="openmanager()">+</a>
                    <div style="border: 1px solid #B6B6B6">
                        <a class="btn tooltipped" data-position="top" data-delay="50" data-tooltip="I am tooltip">TOP!</a>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" class="validate">
                                <label for="search">Search</label>
                            </div>
                            <div class="input-field col s12">
                                <table id="sr" class="striped highlight" onclick="clickEvent(event)">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th data-field="id">Name</th>
                                            <th>Icon</th>
                                            <th>Mode</th>
                                            <th>LastWriteTime</th>
                                            <th data-field="name">Fullname</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="back">
                                            <td colspan="5" onclick="back()"><strong>Back</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table id="sr1" class="striped highlight responsive-table" onclick="clickEvent(event)">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th data-field="id">Name</th>
                                            <th>Icon</th>
                                            <th>Mode</th>
                                            <th>LastWriteTime</th>
                                            <th data-field="name">Fullname</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="6" onclick="back">Back</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <script type="text/javascript">$("#sr1").hide(); var n = 0;</script>
                                <div id="div1">
                                    <script type="text/javascript">$("#div1").hide();</script>
                                    <div class="waves-effect waves-light btn" onclick="SvClick()" style="margin-left:0.5rem">Save</div>
                                    <div class="waves-effect waves-light btn" onclick="BClseClick()" style="margin-right:0.5rem; float:right">X</div>
                                    <textarea id="etext"></textarea>
                                </div>

                                <div id="loading" class="preloader-wrapper active">
                                    <div class="spinner-layer spinner-blue">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div><div class="gap-patch">
                                            <div class="circle"></div>
                                        </div><div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                    <div class="spinner-layer spinner-red">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div><div class="gap-patch">
                                            <div class="circle"></div>
                                        </div><div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                    <div class="spinner-layer spinner-yellow">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div><div class="gap-patch">
                                            <div class="circle"></div>
                                        </div><div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                    <div class="spinner-layer spinner-green">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div><div class="gap-patch">
                                            <div class="circle"></div>
                                        </div><div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>

                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $("#loading").hide();
                                        cellb = document.getElementById('back').insertCell(1);
                                        string[count] = 'd:\\';
                                        $.ajax({
                                            type: 'GET',
                                            url: '@Url.Action("ListOfFile", "Files")',
                                            data: { str: string[count] },
                                            success: ld
                                        });
                                    });

                                    function ld(data) {
                                        //alert(data);
                                        var m_names = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
                                        obj = JSON.parse(data);
                                        var table = document.getElementById("sr");
                                        //table.style.maxHeight = "300px";
                                        for (i = table.rows.length - 1; i > 1 ; i--)
                                            table.deleteRow(i);
                                        for (i = 0; obj[i]; i++) {
                                            var row = table.insertRow(table.rows.lenght);
                                            var cell0 = row.insertCell(0);
                                            var cell1 = row.insertCell(1);
                                            var cell2 = row.insertCell(2);
                                            var cell3 = row.insertCell(3);
                                            var cell4 = row.insertCell(4);
                                            var cell5 = row.insertCell(5);
                                            cell0.innerHTML = '<input type="checkbox" id="' + i + '"onchange = "enable();"/><label for="' + i + '"></label>';
                                            cell1.innerHTML = obj[i].Name;
                                            if (obj[i].Mode[0] == "d")
                                                cell2.innerHTML = '<p><img src="../icons/folder.png" alt="d"/></p>';
                                            else {
                                                /*var stt;
                                                for (j = obj[i].Name.lenght - 3; j < obj[i].Name.lenght; j++)
                                                    stt = stt + obj[i].Name[j];
                                                cell2.innerHTML = obj[i].Name;*/
                                                if ((obj[i].Name.search(".doc") > 0) || (obj[i].Name.search(".docx") > 0))
                                                    cell2.innerHTML = '<p><img src="../icons/file-word.png" /></p>';
                                                else if ((obj[i].Name.search(".xls") > 0) || (obj[i].Name.search(".xlsx") > 0))
                                                    cell2.innerHTML = '<p><img src="../icons/file-excel.png" /></p>';
                                                else if ((obj[i].Name.search(".ppt") > 0) || (obj[i].Name.search(".pptx") > 0))
                                                    cell2.innerHTML = '<p><img src="../icons/file-powerpoint.png" /></p>';
                                                else if (obj[i].Name.search(".pdf") > 0)
                                                    cell2.innerHTML = '<p><img src="../icons/file-pdf.png" /></p>';
                                                else if (obj[i].Name.search(".txt") > 0)
                                                    cell2.innerHTML = '<p><img src="../icons/file-document.png" /></p>';
                                                else if ((obj[i].Name.search(".jpg") > 0) || (obj[i].Name.search(".jpeg") > 0) || (obj[i].Name.search(".png") > 0) || (obj[i].Name.search(".bmp") > 0) || (obj[i].Name.search(".gif") > 0))
                                                    cell2.innerHTML = '<p><img src="../icons/file-image.png" /></p>';
                                                else cell2.innerHTML = '<p><img src="../icons/file.png" /></p>';
                                            }
                                            if (obj[i].Mode[1] == "a")
                                                cell3.innerHTML = '<p style="width:82px"><img class="tooltipped" data-position="top" data-delay="50" data-tooltip="I am tooltip" src="../icons/read.png" /><img src="../icons/Write.png" /><img src="../icons/execute.png" /></p>';
                                                //cell3.innerHTML = '<p class="waves-effect waves-light btn tooltipped" data-position="bottom" data-delay="5000" data-tooltip="I am tooltip">TOP</p>';
                                            else {
                                                if (obj[i].Mode[2] == "r")
                                                    cell3.innerHTML = '<p><img src="../icons/file.png" /></p>';
                                                if (obj[i].Mode[3] == "w")
                                                    cell3.innerHTML = '<p><img src="../icons/file-pdf.png" /></p>';
                                                if (obj[i].Mode[4] == "e")
                                                    cell3.innerHTML = '<p><img src="../icons/file-word.png" /></p>';
                                                else
                                                    cell3.innerHTML = "NOT";
                                            }
                                            var d = new Date(parseInt(obj[i].LastWriteTime.replace('/Date(', '')));
                                            var curr_date = d.getDate();
                                            var curr_month = d.getMonth();
                                            var curr_year = d.getFullYear();
                                            var curr_hour = d.getHours();
                                            var curr_min = d.getMinutes();
                                            if (curr_min < 10)
                                                curr_min = "0" + curr_min;
                                            cell4.innerHTML = curr_date + " " + m_names[curr_month] + " " + curr_year + " " + curr_hour + ":" + curr_min;
                                            var slesh = 0;
                                            head = '';
                                            for (j = 0; j < obj[i].FullName.toString().length; j++) {
                                                if (slesh < 3)
                                                    head = head + obj[i].FullName[j];
                                                if (obj[i].FullName[j] == '\\')
                                                    slesh++;
                                            }
                                            if (slesh >= 3) {
                                                cellb.innerHTML = head + "...";
                                                k = 1;
                                                var hl = head.toString().length;
                                                headful = '';
                                            }
                                            else {
                                                k = 0;
                                                hl = 0;
                                            }
                                            var name = '';
                                            if (hl != 0) {
                                                var hl1 = 0;
                                                for (j = obj[i].FullName.toString().length - 1; j > hl - 1; j--)
                                                    if (obj[i].FullName[j] == "\\") {
                                                        hl1 = j;
                                                        break;
                                                    }
                                                for (j = hl1 - 1; j > hl; j--)
                                                    if (obj[i].FullName[j] == "\\") {
                                                        hl = j;
                                                        break;
                                                    }
                                                for (j = 0; j < hl; j++)
                                                    headful = headful + obj[i].FullName[j];
                                            }
                                            for (j = hl; j < obj[i].FullName.toString().length; j++)
                                                name = name + obj[i].FullName[j];
                                            //cellb.innerHTML = headful;
                                            cell5.innerHTML = name;
                                        }
                                        if (k == 1)
                                            headful = headful;// + "\\";
                                        else
                                            headful = "";
                                        enable();
                                    }
                                </script>
                                <script type="text/javascript">
                                    function clickEvent(event) {
                                        var target;
                                        if (!event) {
                                            var event = window.event;
                                        }
                                        if (event.target) {
                                            target = event.target;
                                        } else if (event.srcElement) {
                                            target = event.srcElement;
                                        }
                                        if (target) {
                                            if (target.nodeType == 3) {
                                                target = target.parentNode;
                                            }
                                            if (target.tagName.toLowerCase() == "td") {
                                                var row = target.parentNode;
                                                var st = row.getElementsByTagName("td").item(5).innerHTML;
                                                if ((st.search(".txt") != -1) || (st.search(".bat") != -1) || (st.search(".html") != -1)) {
                                                    $("#sr").hide();
                                                    $("#div1").show();
                                                    var div1 = document.getElementById('div1');
                                                    $.ajax({
                                                        url: '@Url.Action("OpenFile", "Files")',
                                                        success: function (data) {
                                                            $("#etext").html(data);
                                                        }
                                                    });
                                                }
                                                else if ((st[st.toString().length - 4] != ".") && (st[st.toString().length - 5] != ".")) {
                                                    $("#sr").hide();
                                                    $("#loading").show();
                                                    stringback[count] = string[count];
                                                    count++;
                                                    string[count] = headful + st;
                                                    $.ajax({
                                                        type: 'GET',
                                                        url: '@Url.Action("ListOfFile", "Files")',
                                                        data: { str: string[count] },
                                                        success: ld
                                                    });
                                                    $("#loading").hide();
                                                    $("#sr").show();
                                                    df = [];
                                                    if (!wf[0])
                                                        wf = [];
                                                }
                                                jQuery(function () {
                                                    jQuery('#etext').autoResize();
                                                });
                                            }
                                        }
                                    }
                                    function newff() {
                                        if (document.getElementById("fname").value)
                                            if ($('input[name="group1"]:checked').val() == 1)
                                                $.ajax({
                                                    type: 'GET',
                                                    url: '@Url.Action("newfile", "Files")',
                                                    data: { "str": headful + document.getElementById("fname").value },
                                                    success: ld
                                                });
                                            else
                                                $.ajax({
                                                    type: 'GET',
                                                    url: '@Url.Action("newfolder", "Files")',
                                                    data: { "str": headful + document.getElementById("fname").value },
                                                    success: ld
                                                });
                                    }
                                    function back() {
                                        if (count < 1)
                                            return;
                                        $.ajax({
                                            type: 'GET',
                                            url: '@Url.Action("ListOfFile", "Files")',
                                            data: { str: stringback[count - 1] },
                                            success: ld
                                        });
                                        if (count > 1)
                                            string[count] = stringback[count - 2];
                                        else
                                            string[count] = stringback[0];
                                        count--;
                                        df = [];
                                        if (!wf[0])
                                            wf = [];
                                    }

                                    function SvClick() {
                                        var string1 = $('textarea[id=etext]').val();
                                        $.ajax({
                                            type: 'GET',
                                            url: '@Url.Action("RewriteToFile", "Texts")',
                                            data: { "str": string1 },
                                            success: function () {
                                                Materialize.toast('Complete', 2500)
                                            }
                                        });
                                    }
                                    function BClseClick() {
                                        $("#sr").show();
                                        $("#div1").hide();
                                    }
                                    function openmanager() {
                                        if (n == 0) {
                                            idt = "sr1";
                                            ld;
                                            $("#sr").hide();
                                            $("#sr1").show();
                                            n++;
                                        }
                                    }
                                    function changedir() {
                                        if (n != 0)
                                            if (n % 2 == 0) {
                                                $("#sr").hide();
                                                $("#sr1").show();
                                                n--;
                                            }
                                            else {
                                                $("#sr1").hide();
                                                $("#sr").show();
                                                n++;
                                            }
                                    }
                                    function BClsClick() {
                                        if (n != 0)
                                            if (n % 2 == 0) {
                                                $("#sr").hide();
                                                $("#sr1").show();
                                                n = 0;
                                            }
                                            else {
                                                $("#sr1").hide();
                                                $("#sr").show();
                                                n = 0;
                                            }
                                    }
                                    function BCutClick() {
                                        wf[0] = "1";
                                        var j = 2;
                                        for (i = 1; obj[i - 1]; i++) {
                                            var checkbox = document.getElementById(i - 1);
                                            if (checkbox.checked) {
                                                wf[j++] = obj[i - 1].FullName;
                                                document.getElementById('pst').className = "waves-effect waves-light btn";
                                            }
                                        }
                                    }
                                    function BCpyClick() {
                                        wf[0] = "2";
                                        var j = 2;
                                        for (i = 1; obj[i - 1]; i++) {
                                            var checkbox = document.getElementById(i - 1);
                                            if (checkbox.checked) {
                                                wf[j++] = obj[i - 1].FullName;
                                                document.getElementById('pst').className = "waves-effect waves-light btn";
                                            }
                                        }
                                    }
                                    function BPstClick() {
                                        wf[1] = string[count];
                                        if (!wf[3])
                                            if (wf[0] == 2)
                                                var $toastContent = $('<div>' + wf[2] + ' is copying<img src="../icons/close.png" style="cursor:pointer" onclick="toasthide()"/></div>');
                                            else
                                                var $toastContent = $('<div>' + wf[2] + ' is replasing<img src="../icons/close.png" /></div>');
                                        else if (wf[0] == 2)
                                            var $toastContent = $('<div>' + wf.length - 2 + ' files are copying<img src="../icons/close.png" /></div>');
                                        else
                                            var $toastContent = $('<div>' + wf.length - 2 + ' files are replacing<img src="../icons/close.png" /></div>');
                                        Materialize.toast($toastContent);
                                        $.ajax({
                                            type: 'GET',
                                            url: '@Url.Action("CutCopy", "Files")',
                                            data: ({ "type": wf[0], "path": wf[1], "file": wf[2] }),
                                            success: function(data){
                                                $(".toast").hide();
                                                Materialize.toast('Complete', 2500);
                                                ld
                                            }
                                        });
                                    }
                                    function toasthide() {                                        
                                        $(".toast").hide();
                                    }
                                    function BDelClick() {
                                        if (c > 0) {
                                            var j = 0;
                                            for (i = 1; obj[i - 1]; i++) {
                                                var checkbox = document.getElementById(i - 1);
                                                if (checkbox.checked) {
                                                    df[j++] = obj[i - 1].FullName;                                                    
                                                }
                                            }
                                        }
                                        prompt(df);
                                        $.ajax({
                                            type: 'GET',
                                            url: '@Url.Action("Delete", "Files")',
                                            data: { "str": df },  //df-архів стрінгів з повним шляхом
                                            success: Materialize.toast('Delete complete', 2500)                                            
                                        });
                                    }
                                </script>
                                <script type="text/javascript">
                                    sortTable(document.getElementById("sr"), sortAsc, sortDesc);
                                    var sortAsc = document.createElement("SPAN"),
                                        sortDesc = document.createElement("SPAN");
                                    // Значки сортировки для заголовка таблицы:
                                    sortAsc.innerHTML = "&#9660;";
                                    sortDesc.innerHTML = "&#9650;";
                                    // Вешаем сортировку на таблицу:

                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>
</html>